body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
  background-color: #FDFDFF;
  margin: 0;
}

.main-header {
  width: 1170px;
  margin: 0 auto;
  padding: 20px 55px;
}

.main-header-nav {
  display: flex;
  /* justify-content: space-between; */
}

.logo {
  width: 64px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 471px;
}

.site-navigation {
  width: 559px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.signin {
  margin-left: 40px;
  width: 36px;
}

.main-content {
  width: 1170px;
  margin: 0 auto;
  padding: 0 55px;
}

.hero {
  margin-top: 40px;
  margin-bottom: 120px;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 40px;
  /*  margin-left: 70px; */
}

.blog-article {
  display: flex;
  width: 1030px;
  margin: 0 auto;
  justify-content: space-between;
}

.blog-article-1 {
  margin-bottom: 100px;
}

.blog-article-2 {
  margin-bottom: 120px;
  flex-direction: row-reverse;
}

.fact-article-content {
  width: 400px;
}

.blog-article-img {
  width: 600px;
}

.news {
  width: 770px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.contacts {
  
  margin-bottom: 120px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.contacts-content {
  margin-left: 100px;
} 

.contacts-content h2 {
  margin-top: 0;
}

.contacts-list {
  /* margin-top: 35px; */
}

/* .map-img {
  width: 670px;
} */

.post-img {
  margin: 0 auto;
}


.main-footer {
  padding: 60px 55px 62px 55px;
}

.footer-container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 55px;
  display: flex;
}

.footer-navigation-topics {
  list-style: none;
  margin:0;
  padding:0;
}

.site-navigation-item a {
  font-size: 14px;
  line-height: 18px;
  color: #163152;
  text-transform: uppercase;
  text-decoration: none;
}

.hero h1 {
  font-size: 44px;
  line-height: 60px;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
}

.blog-article h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.blog-article-date {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.news h2 {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 55px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.post-img figcaption {
  font-size: 16px;
  line-height: 19px;
  color: #8693a4;
}

.post h3 {
  font-size: 22px;
  line-height: 26px;
}

.post p {
  font-size: 18px;
  line-height: 26px;
}

.post h4 {
  font-size: 20px;
  line-height: 26px;
}

.post ul {
  font-size: 18px;
  line-height: 26px;
}

.post ins {
  text-decoration: none;
}

.post blockquote {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
}

.post-meta a {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #163152;
  text-decoration: none;
}

.post-meta time {
  font-size: 16px;
  line-height: 19px;
  color: #8693a4;
}

.contacts h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under
}

.contacts-list-item {
  font-size: 16px;
  line-height: 22px;
}

.contacts-list-item h3 {
  font-size: 16px;
  line-height: 22px;
}

.contacts-list-item address {
  font-style: normal
}

.contacts-list-item a {
  color: #163152;
  text-decoration: none;
}

.main-footer {
  font-size: 10px;
  line-height: 12px;
}

.footer-navigation-topics {
  font-size: 14px;
  line-height: 16px;
}

.footer-navigation-topic h2 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.footer-navigation-item a {
  color: #163152;
  text-decoration: none;
}

.policy a {
  color: #163152;
  text-decoration: none;
}